In [1]:
# Import the libraries for data cleaning 
import numpy as np 
import pandas as pd

In [9]:
# import the data 
match_df = pd.read_csv('Data/matches.csv')
delivery_df = pd.read_csv('Data/deliveries.csv')

In [11]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [13]:
match_df.shape

(756, 18)

In [15]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [17]:
match_df.drop(['toss_winner','toss_decision','player_of_match','umpire1', 'umpire2','umpire3'],axis=1,inplace=True)

In [19]:
match_df.shape

(756, 12)

In [21]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [23]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [25]:
delivery_df.drop(['bowler','is_super_over','dismissal_kind','fielder','wide_runs','bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',],axis=1,inplace=True)

In [27]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [29]:
delivery_df.shape

(179078, 12)

In [31]:
total_score_df = (delivery_df.groupby(['match_id','inning']).sum()['total_runs'].reset_index())

In [33]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [35]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [37]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [39]:
match_df = (match_df.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id'))

In [41]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [43]:
teams = list(match_df['team1'].unique())

In [45]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

In [47]:
teams = ['Sunrisers Hyderabad',
    'Mumbai Indians',
    'Gujarat Titans',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals']

In [49]:
# Replace Delhi Daredevils with Delhi capitals 
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [51]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [53]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [55]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [57]:
match_df.shape

(667, 14)

In [59]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178

In [61]:
# dl_applied is 0 means normal match and 1 means duckworth lewis rules are applied 
match_df['dl_applied'].value_counts()

dl_applied
0    652
1     15
Name: count, dtype: int64

In [63]:
# Removing dl_applied = 1 records or rows 
match_df = match_df[match_df['dl_applied'] == 0]

In [65]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'result',
       'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'venue',
       'match_id', 'total_runs'],
      dtype='object')

In [67]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [69]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [71]:
delivery_df = delivery_df[delivery_df['inning'] == 2 ]

In [73]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86240 entries, 125 to 179077
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          86240 non-null  int64
 1   inning            86240 non-null  int64
 2   batting_team      86240 non-null  object
 3   bowling_team      86240 non-null  object
 4   over              86240 non-null  int64
 5   ball              86240 non-null  int64
 6   batsman           86240 non-null  object
 7   non_striker       86240 non-null  object
 8   batsman_runs      86240 non-null  int64
 9   extra_runs        86240 non-null  int64
 10  total_runs        86240 non-null  int64
 11  player_dismissed  4216 non-null   object
dtypes: int64(7), object(5)
memory usage: 8.6+ MB

In [75]:
delivery_df = match_df.merge(delivery_df, on='match_id')

In [77]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [79]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'player_dismissed'],
      dtype='object')

In [81]:
delivery_df.rename(columns={'total_runs_x':'total_runs','total_runs_y':'Ball_score'},inplace=True)

In [83]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [85]:
delivery_df['Score'] = delivery_df[['match_id','Ball_score']].groupby('match_id').cumsum()['Ball_score']

In [87]:
delivery_df[['Ball_score','Score']]

       Ball_score  Score
0               1      1
1               0      1
2               0      1
3               2      3
4               4      7
...           ...    ...
75335           1    152
75336           2    154
75337           1    155
75338           2    157
75339           0    157

[75340 rows x 2 columns]

In [89]:
# New columns which has target 
delivery_df['target_left'] = (delivery_df['total_runs'] + 1) - delivery_df['Score']

In [91]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4

In [93]:
# 1 over 6 balls 
# ipl has 20 over match 20 * 6 = 120 
delivery_df['Remaining Balls'] = (120 - ( (delivery_df['over'] - 1)*6 + delivery_df['ball']))

In [95]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [97]:
#how many wickets left out
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')

In [99]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [101]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == '0' else '1').astype('int64')

In [103]:
delivery_df[['match_id','player_dismissed']]

       match_id  player_dismissed
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
75335     11415                 0
75336     11415                 0
75337     11415                 1
75338     11415                 0
75339     11415                 1

[75340 rows x 2 columns]

In [105]:
delivery_df['Wickets'] = delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [107]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7

In [109]:
delivery_df['Wickets'] = 10 - delivery_df['Wickets']

In [111]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3

In [ ]:
#Current Run Rate# 
Current run rat e=Runs scor/edNumber of Overs completed

In [113]:
delivery_df['crr'] = (delivery_df['Score'])*6/(120 - delivery_df['Remaining Balls'])

In [115]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5,7.862069
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5,7.897436
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4,7.881356
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4,7.915966
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3,7.850000

In [ ]:
#Required Run Rate

#Required run rate=Remaining score or Target / Number of Overs left

In [117]:
delivery_df['rrr'] = (delivery_df['target_left'])*6/(delivery_df['Remaining Balls'])

In [119]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,152,1,4,5,7.862069,1.500000
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,154,-1,3,5,7.897436,-2.000000
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,155,-2,2,4,7.881356,-6.000000
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,157,-4,1,4,7.915966,-24.000000
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,157,-4,0,3,7.850000,-inf

In [121]:
# Creating a column result where 1 means won 0 means lost 
def result(row):
    if row['batting_team'] == row['winner']: 
        return 1
    else: 
        return 0

In [123]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [124]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,7.862069,1.500000,0
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,7.897436,-2.000000,0
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,4,7.881356,-6.000000,0
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,4,7.915966,-24.000000,0
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,3,7.850000,-inf,0

In [127]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining Balls', 'Wickets', 'crr', 'rrr', 'result'],
      dtype='object')

In [129]:
Model_df = delivery_df[['batting_team','bowling_team','city','Score','Wickets','Remaining Balls','target_left','crr','rrr','result']]

In [131]:
Model_df

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,119,207,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,118,207,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,117,207,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,10,116,205,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,10,115,201,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
75335,Chennai Super Kings,Mumbai Indians,Hyderabad,152,5,4,1,7.862069,1.500000,0
75336,Chennai Super Kings,Mumbai Indians,Hyderabad,154,5,3,-1,7.897436,-2.000000,0
75337,Chennai Super Kings,Mumbai Indians,Hyderabad,155,4,2,-2,7.881356,-6.000000,0
75338,Chennai Super Kings,Mumbai Indians,Hyderabad,157,4,1,-4,7.915966,-24.000000,0
75339,Chennai Super Kings,Mumbai Indians,Hyderabad,157,3,0,-4,7.850000,-inf,0

In [133]:
Model_df.isnull().sum()

batting_team         0
bowling_team         0
city               832
Score                0
Wickets              0
Remaining Balls      0
target_left          0
crr                  0
rrr                  5
result               0
dtype: int64

In [135]:
# Remove the records where city is missing 
Model_df[Model_df['city'].isna()]

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
43674,Royal Challengers Bangalore,Mumbai Indians,NaN,0,10,119,116,0.000000,5.848739,1
43675,Royal Challengers Bangalore,Mumbai Indians,NaN,4,10,118,112,12.000000,5.694915,1
43676,Royal Challengers Bangalore,Mumbai Indians,NaN,5,10,117,111,10.000000,5.692308,1
43677,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,116,109,10.500000,5.637931,1
43678,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,115,109,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
45510,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,4,19,7.965517,28.500000,0
45511,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,3,19,7.897436,38.000000,0
45512,Mumbai Indians,Sunrisers Hyderabad,NaN,155,3,2,18,7.881356,54.000000,0
45513,Mumbai Indians,Sunrisers Hyderabad,NaN,156,3,1,17,7.865546,102.000000,0
45514,Mumbai Indians,Sunrisers Hyderabad,NaN,157,3,0,16,7.850000,inf,0

In [137]:
Model_df.dropna(inplace=True)

C:\Users\SHUBHAM UPADHYAY\AppData\Local\Temp\ipykernel_13784\2202708226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Model_df.dropna(inplace=True)

In [139]:
Model_df.isnull().sum()

batting_team       0
bowling_team       0
city               0
Score              0
Wickets            0
Remaining Balls    0
target_left        0
crr                0
rrr                0
result             0
dtype: int64

In [141]:
Model_df.describe()

C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,74503.000000,74503.000000,74503.000000,74503.000000,74503.000000,7.450300e+04,74503.000000
mean,73.593641,7.539951,62.744252,93.300109,7.483927,NaN,0.535656
std,47.021034,2.137884,33.365914,50.199133,2.287416,NaN,0.498730
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-inf,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.289157,7.235294e+00,0.000000
50%,70.000000,8.000000,63.000000,93.000000,7.500000,8.963855e+00,1.000000
75%,109.000000,9.000000,92.000000,131.000000,8.750000,1.100000e+01,1.000000
max,223.000000,10.000000,119.000000,250.000000,42.000000,inf,1.000000

In [147]:
Model_df = Model_df[Model_df['Remaining Balls'] != 0]

In [149]:
Model_df.describe()

,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000
mean,73.318103,7.555129,62.947874,93.536088,7.482496,10.515160,0.537045
std,46.827172,2.122778,33.227690,50.098611,2.289951,13.860596,0.498629
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-516.000000,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.285714,7.230769,0.000000
50%,70.000000,8.000000,64.000000,93.000000,7.500000,8.953846,1.000000
75%,108.000000,9.000000,92.000000,131.000000,8.750000,10.978723,1.000000
max,222.000000,10.000000,119.000000,250.000000,42.000000,684.000000,1.000000

In [151]:
Model_df = Model_df.sample(Model_df.shape[0])

In [153]:
Model_df.sample()

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
33987,Deccan Chargers,Kings XI Punjab,Hyderabad,71,6,56,100,6.65625,10.714286,0

In [155]:
# Splitting the data into features and target 

X = Model_df.iloc[:,:-1]

Y = Model_df.iloc[:,-1]

In [157]:
X

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
15914,Chennai Super Kings,Mumbai Indians,Port Elizabeth,136,7,13,12,7.626168,5.538462
56967,Delhi Daredevils,Kings XI Punjab,Delhi,60,9,66,52,6.666667,4.727273
48062,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,46,9,71,97,5.632653,8.197183
25050,Mumbai Indians,Royal Challengers Bangalore,Bangalore,133,9,16,8,7.673077,3.000000
23460,Kolkata Knight Riders,Rajasthan Royals,Kolkata,21,9,105,112,8.400000,6.400000
...,...,...,...,...,...,...,...,...,...
72261,Sunrisers Hyderabad,Chennai Super Kings,Hyderabad,111,7,37,29,8.024096,4.702703
72095,Rajasthan Royals,Kings XI Punjab,Mohali,69,9,80,122,10.350000,9.150000
75224,Chennai Super Kings,Mumbai Indians,Hyderabad,8,10,111,145,5.333333,7.837838
42678,Sunrisers Hyderabad,Kolkata Knight Riders,Hyderabad,83,10,55,48,7.661538,5.236364
27691,Delhi Daredevils,Mumbai Indians,Mumbai,13,6,95,166,3.120000,10.484211

In [159]:
Y

15914    1
56967    1
48062    1
25050    1
23460    1
        ..
72261    1
72095    0
75224    0
42678    1
27691    0
Name: result, Length: 74262, dtype: int64

In [161]:
# Splitting the data to train and test : 
from sklearn.model_selection import train_test_split 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [163]:
X_train

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
49410,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata,126,5,46,35,10.216216,4.565217
25547,Kings XI Punjab,Deccan Chargers,Hyderabad,11,10,110,155,6.600000,8.454545
19763,Rajasthan Royals,Deccan Chargers,Ahmedabad,85,9,65,64,9.272727,5.907692
74009,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,79,8,63,154,8.315789,14.666667
69034,Kings XI Punjab,Kolkata Knight Riders,Kolkata,111,7,47,113,9.123288,14.425532
...,...,...,...,...,...,...,...,...,...
48842,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,135,5,16,61,7.788462,22.875000
2850,Kings XI Punjab,Delhi Daredevils,Chandigarh,61,10,76,7,8.318182,0.552632
9311,Deccan Chargers,Mumbai Indians,Hyderabad,100,6,33,79,6.896552,14.363636
4529,Delhi Daredevils,Royal Challengers Bangalore,Delhi,88,6,47,74,7.232877,9.446809
26569,Royal Challengers Bangalore,Delhi Daredevils,Delhi,135,5,23,26,8.350515,6.782609

In [165]:
X_test

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
13668,Kings XI Punjab,Kolkata Knight Riders,Port Elizabeth,108,7,38,46,7.902439,7.263158
39052,Mumbai Indians,Kolkata Knight Riders,Kolkata,80,8,58,80,7.741935,8.275862
55785,Kolkata Knight Riders,Rajasthan Royals,Mumbai,41,8,94,159,9.461538,10.148936
72121,Rajasthan Royals,Kings XI Punjab,Mohali,101,9,54,90,9.181818,10.000000
34963,Delhi Daredevils,Kings XI Punjab,Delhi,122,5,13,15,6.841121,6.923077
...,...,...,...,...,...,...,...,...,...
72992,Delhi Capitals,Rajasthan Royals,Jaipur,1,10,118,196,3.000000,9.966102
10785,Chennai Super Kings,Kings XI Punjab,Mumbai,14,10,107,99,6.461538,5.551402
74300,Sunrisers Hyderabad,Mumbai Indians,Mumbai,130,5,14,41,7.358491,17.571429
59823,Mumbai Indians,Royal Challengers Bangalore,Bangalore,43,9,79,109,6.292683,8.278481
47641,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,182,6,16,24,10.500000,9.000000

In [167]:
Y_train

49410    1
25547    1
19763    1
74009    0
69034    0
        ..
48842    0
2850     1
9311     0
4529     0
26569    1
Name: result, Length: 59409, dtype: int64

In [169]:
Y_test

13668    1
39052    1
55785    0
72121    0
34963    1
        ..
72992    1
10785    1
74300    0
59823    1
47641    1
Name: result, Length: 14853, dtype: int64

In [177]:
# Label encoding 
# One hot encoder 
# tranform non numberical data to numerical 

from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder

In [181]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [183]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [197]:
# Building the model 
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [199]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [201]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [203]:
Y_prediction = pipe.predict(X_test)

In [205]:
Y_prediction

array([1, 1, 0, ..., 0, 1, 1], dtype=int64)

In [207]:
# Accuracy score 
from sklearn.metrics import accuracy_score

In [209]:
accuracy_score(Y_test, Y_prediction)

0.8104086716488251

In [211]:
# Exporting the model 
import pickle as pkl

In [213]:
pkl.dump(pipe,open('model.pkl','wb'))

In [215]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [217]:
pkl.dump(teams,open('team.pkl','wb'))

In [219]:
cities = list(Model_df['city'].unique())

In [221]:
cities

['Port Elizabeth',
 'Delhi',
 'Hyderabad',
 'Bangalore',
 'Kolkata',
 'Jaipur',
 'Raipur',
 'Ahmedabad',
 'Chandigarh',
 'Mumbai',
 'Pune',
 'Chennai',
 'Rajkot',
 'Sharjah',
 'Dharamsala',
 'Ranchi',
 'Cuttack',
 'Bengaluru',
 'Visakhapatnam',
 'Cape Town',
 'Centurion',
 'Kanpur',
 'Abu Dhabi',
 'Johannesburg',
 'Kimberley',
 'Mohali',
 'East London',
 'Durban',
 'Indore',
 'Nagpur',
 'Bloemfontein']

In [223]:
pkl.dump(cities,open('city.pkl','wb'))

In [225]:
Model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'Score', 'Wickets',
       'Remaining Balls', 'target_left', 'crr', 'rrr', 'result'],
      dtype='object')